<!DOCTYPE html>
<html>
<head>
  <title>Mirus Energy</title>
  <!-- <script src="http://maps.google.com/maps/api/js?"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Mirus Energy description">
  <meta name="author" content="Jon Van Lew">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
	<!-- <link rel="shortcut icon" href="favicon.ico"> -->

</head>

<!--
The #page-top ID is part of the scrolling feature.
The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
-->
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">

<%= yield %>


<!-- <div class="bg-grey">

  <div class="col-md-4">
      <div class="headline"><h2>Other contact information</h2></div>
      <ul class="list-unstyled who margin-bottom-30">
          <li><a href="#"><i class="fa fa-home"></i> 420 Westwood Plaza </a></li>
          <li><a href="#"><i class="fa fa-envelope"></i> info@mirus-energy.com</a></li>
          <li><a href="#"><i class="fa fa-phone"></i> 1(222) 5x86 x97x</a></li>
      </ul>
  </div>

  <div class="container content-xs">
    <div class="row">
        <div class="col-md-6">
            <p>
                Site design by <a href="http://www.github.com/jtvanlew">Jon Van Lew</a> &amp; Mirus Energy.
            </p>
        </div>
    </div>
  </div>
</div> -->

<!--=== Footer v2 ===-->
    <div id="footer-v2" class="footer-v2">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- Latest Tweets -->
                    <!-- <div class="col-md-3 md-margin-bottom-40">
                        <div class="latest-tweets">
                            <div class="headline"><h2 class="heading-sm">Latest Tweets</h2></div>
                            <div class="latest-tweets-inner">
                                <i class="fa fa-twitter"></i>
                                <p>
                                    <a href="#">@htmlstream</a>
                                    At vero seos etodela ccusamus et
                                    <a href="#">http://t.co/sBav7dm</a>
                                    <small class="twitter-time">2 hours ago</small>
                                </p>
                            </div>
                            <div class="latest-tweets-inner">
                                <i class="fa fa-twitter"></i>
                                <p>
                                    <a href="#">@htmlstream</a>
                                    At vero seos etodela ccusamus et
                                    <a href="#">http://t.co/sBav7dm</a>
                                    <small class="twitter-time">4 hours ago</small>
                                </p>
                            </div>
                        </div>
                    </div> -->
                    <!-- End Latest Tweets -->

                    <!-- Address -->
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="headline"><h2 class="heading-sm">Contact Us</h2></div>
                        <address class="md-margin-bottom-40">
                            <i class="fa fa-home"></i>420 Westwood Plaza, Los Angeles, CA 90024<br />
                            <i class="fa fa-phone"></i>Phone: 310 123 3456 <br />
                            <i class="fa fa-globe"></i>Website: <a href="#">www.mirus-energy.com</a> <br />
                            <i class="fa fa-envelope"></i>Email: <a href="mailto:info@mirus-energy.com">info@mirus-energy.com</a>
                        </address>
                    </div>

                    <div class="col-md-4 col-md-offset-4 md-margin-bottom-40">
                      <div class="headline"><h2 class="heading-sm">Find us on Social</h2></div>
                        <!-- Social Links -->
                        <ul class="social-icons">
                            <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                            <li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                            <li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                            <li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
                        </ul>
                        <!-- End Social Links -->
                    </div>
                    <!-- End Address -->
                </div>
            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <p class="text-center">2016 &copy; All Rights Reserved. Mirus Energy</a></p>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer v2 ===-->
</body>

<script>

  // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  //
  // ga('create', 'UA-9968903-14', 'auto');
  // ga('send', 'pageview');
  $(document).on('ready page:load', function() {
  		App.init();
  		App.initCounter();
  		App.initParallaxBg();
  		LoginForm.initLoginForm();
  		ContactForm.initContactForm();
  		OwlCarousel.initOwlCarousel();
  		RevolutionSlider.initRSfullScreen();
      // ContactPage.initMap();
  });

</script>

</html>
